In [47]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import json

import time

# Extract Tokens from Divar Posts

In [2]:
webdriver_path = "geckodriver"  # Replace with the actual path to chromedriver executable
firefox_options = webdriver.FirefoxOptions()
driver = webdriver.Firefox(executable_path=webdriver_path, options=firefox_options)

In [3]:
driver.get("https://divar.ir/s/tehran-province/car?q=206%20%D8%AA%DB%8C%D9%BE%202")

In [4]:
items = [] 
SCROLL_PAUSE_TIME = 1

In [5]:
last_height = driver.execute_script("return document.body.scrollHeight")

In [6]:
counter = 0

In [7]:
while True:
    counter += 1 
    if counter % 20 == 0:
        print(counter)
    
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(SCROLL_PAUSE_TIME)
    new_height = driver.execute_script("return document.body.scrollHeight")
    
    if new_height == last_height:
        element_exists = len(driver.find_elements_by_xpath("/html/body/div[1]/div[2]/main/div[2]/div[2]/div/button")) > 0
        if element_exists:
            driver.find_elements_by_xpath("/html/body/div[1]/div[2]/main/div[2]/div[2]/div/button")[0].click()
            time.sleep(SCROLL_PAUSE_TIME)
            new_height = driver.execute_script("return document.body.scrollHeight")
            continue; 
        else:
            break
    last_height = new_height
    
    elements =  driver.find_elements(By.CSS_SELECTOR, '.kt-post-card--has-chat')
    for element in elements:
#         title = element.find_element(By.CSS_SELECTOR, '.kt-post-card__title').text
#         distance = element.find_elements(By.CSS_SELECTOR, '.kt-post-card__description')[0].text
#         price = element.find_elements(By.CSS_SELECTOR, '.kt-post-card__description')[1].text
# #         location = element.find_element(By.CSS_SELECTOR, '.kt-post-card__bottom-description').text
        token = element.get_attribute("token").split("/")[-1]
      
        items.append(token)
    
    #.kt-post-card--has-chat kt-post-card__bottom-description
#     //*[contains(concat( " ", @class, " " ), concat( " ", "kt-post-card--has-chat", " " ))]

20
40
60
80
100
120
140
160
180
200
220

In [1]:
import numpy as np
import pandas as pd

In [11]:
items_token = np.unique(items)

In [15]:
token_df = pd.DataFrame(items_token, columns=['token'])

In [16]:
token_df

         token
0     AZ-1fYag
1     AZ-1rcG1
2     AZ-1woVE
3     AZ-5PN-P
4     AZ-5P_R6
...        ...
4867  wYdNQI_T
4868  wYdwXuT7
4869  wYe_yAS2
4870  wYizBn0P
4871  wYzfzRaN

[4872 rows x 1 columns]

In [18]:
token_df.to_csv("206-token.csv")